.main {
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.main-item:first-child .sincard-detail-main-item-circle_area_line0 {
    width: 0px;
}
.main-item:first-child .sincard-detail-main-item-circle_area_line1 {
    width: 0px;
}
.main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-item-title0 {
   /**********绘制气泡主体的圆角矩形***************/
    height: 45px;
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    background: transparent;
    border: 100px;
    border-radius: 15px;
}
.main-item-title1 {
    height: 45px;
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    background: #13a3de;
    border: 100px;
    border-radius: 15px;
}
.main-item-title_text0 {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
    top: 20%;
}
.main-item-title_text1 {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 20%;
}
.main-item-title_delta0 {
    height: 0px;
    width: 0px;
   /***状态为未完成的步骤小尖尖为透明***/
    display: flex;
    justify-content: center;
    position: relative;
    border: 10px solid;
    border-color: transparent;
}
.main-item-title_delta1 {
    height: 0px;
    width: 0px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 10px solid;
    border-color: #13a3de transparent transparent transparent;
}
.main-item-circle_area {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.main-item-circle_area_point0 {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
}
.main-item-circle_area_point1 {
   /*********已完成的结点的圆点颜色为蓝色**********/
    width: 40px;
    height: 40px;
    background: #13a3de;
    border-radius: 50%;
    z-index: 1;
}
.main-item-circle_area_line0 {
    position: absolute;
    width: 100%;
    height: 6px;
    background: #ccc;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.main-item-circle_area_line1 {
   /*********已完成的结点的连接线颜色为蓝色**********/
    position: absolute;
    width: 100%;
    height: 8px;
    background: #13a3de;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
