.up-container {
    flex-wrap: wrap;
    padding-top: 120px;
}

.up-table-frame {
    height: 600px;
    /* overflow-y: scroll; */
    border-radius: 4px;
    width: 100%;
    font-size: 10px;
}

.up-table-title {
    background-color: #9AA3AC;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px 4px 0 0;
    position: sticky;
}

.up-table-subtitle {
    background-color: #E4E8EE;
    color: #4AC8C2;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
}

.up-table {
    background-color: #fff;
    color: #383E44;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.up-table:hover {
    background-color: #f5f6f8;
}

.item {
    width: 40px;
    margin: auto;
}

.brand {
    width: 60px;
    margin: auto;
}

.productname {
    width: 60px;
    margin: auto;
}

.itemprice {
   display: none;
}

.amount {
    width: 40px;
    margin: auto;
}

.sub {
    width: 40px;
    margin: auto;
}

.add {
    width: 10px;
    margin: auto;
}

/* 下拉式選單 */
.widget select,
.no-widget .select {
    position: absolute;
    left: -5000em;
    height: 0;
    overflow: hidden;
}

.select {
    position: relative;
    display: inline-block;
}

.select .optList {
    position: absolute;
    top: 100%;
    left: 0;
}

.select .optList.hidden {
    max-height: 0;
    visibility: hidden;
}

/* .select.active,
.select:focus {
    box-shadow: 0 0 3px #4AC8C2;
    outline: none;
} */

.select {
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    padding: 1px 25px 2px 5px;
    width: 100%;
    border: 1px solid #9AA3AC;
    border-radius: 4px;
    background-color: #fff;
}

.select .value {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.select:after {
    content: "▼";
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 2em;
    top: 0;
    right: 0;
    padding-top: .1em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0 .1em .1em 0;
    color: #383E44;
}

.select .optList {
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #9AA3AC;
    border-top-width: .1em;
    border-radius: 0 0 .4em .4em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.select .option {
    padding: .2em .3em;
}

/* 下拉顏色 */
.select .highlight {
    background: #4AC8C2;
    color: #FFFFFF;
}

/* 商品清單 */
.up-card {
   display: none;
}

.up-list-group {
    height: 348px;
    overflow-y: scroll;
}

/* 按鍵 */
.wp-button {
    width: 100px;
    border-radius: 80px;
    padding: 8px;
    border: none;
    transition: .3s;
    font-weight: bold;
    font-size: 14px;
}

.wWhitePgAreaHTML9 {
    z-index: 10;
    top: 30%;
    left: 10%;
}

.windowShare{
    width: 300px;
   
}

.up-productlist {
    margin: auto;
}