/* 進度條 */
#wp-progressBar {
    width: 1000px;
    margin: auto;
    padding-top: 100px;
}

.wp-progress {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    counter-reset: num;
}

.line-bg {
    opacity: 20%;
    width: 100%;
    height: 8px;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    transform: translate(0%, 50%);
}

.line {
    width: 1%;
    height: 8px;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    transform: translate(0%, 50%);
}

/* 黃色數字圈圈 */
.wp-point::before {
    color: #fff;
    counter-increment: num;
    content: counter(num);
}

.wp-point {
    width: 16px;
    /* 區塊大小 */
    height: 16px;
    /* 區塊大小 */
    background-color: #FDBD3F;
    /* 區塊顏色 */
    border-radius: 50%;
    /* 區塊圓角 */
    content: "●";
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    /* 上下置中 */
    text-align: center;
    /* 水平置中 */
    margin: 0 0 10px 0;
}

/* 對話框 原樣式 */
.wp-point .title {
    position: absolute;
    margin-top: 16px;
    padding: 8px;
    transform: translateX(-40%);
    width: 80px;
    height: 45px;
    background: #fff;
    color: #13a3de;
    border-radius: 15px;
}

.wp-point .title-delta {
    position: absolute;
    margin-top: 0;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
}

/* 對話框 藍色樣式 */
.wp-point .title-0 {
    position: absolute;
    margin-top: 16px;
    padding: 8px;
    transform: translateX(-40%);
    width: 80px;
    height: 45px;
    background: #13a3de;
    color: #fff;
    border-radius: 15px;
}

.wp-point .title-delta-0 {
    position: absolute;
    margin-top: 0;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #13a3de transparent;
}

/* 對話框 灰色樣式 */
.wp-point .title-1 {
    position: absolute;
    margin-top: 16px;
    padding: 8px;
    transform: translateX(-40%);
    width: 80px;
    height: 45px;
    background: #fff;
    color: #ccc;
    border-radius: 15px;
}

.wp-point .title-delta-1 {
    position: absolute;
    margin-top: 0;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
}

 /* 商品內容 */
.wp-carousel .fas {
    color: #061127;
    font-size: 32px;
}

.wp-container{
    padding-top: 100px;
    width: 1100px;
    margin: 0 auto;
}
.wp-slide {
    width: 700px;
    /* height: 420px; */
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.wp-row {
    width: 80px;
    /* height: 400px; */
    padding: 10px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    transition: .5s;
}

.wp-row:hover {
    width: 80px;
    /* height: 400px; */
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
    /* justify-self: start; */
}
.wp-row 
p,
h5 {
    line-height: 20px;
    padding: 0px 0;
}

.wp-row img {
    width: 100%;
    border-radius: 4px;
    padding-bottom: 12px;
}

.wp-button {
    width: 100px;
    border-radius: 80px;
    padding: 8px;
    margin: 4px;
    border: none;
    transition: .3s;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.wp-button:hover {
    color: #E4E8EE;
}

.wp-btn-product {
    width: 80px;
    border-radius: 16px;
    background-color: #384449;
    padding: 8px;
    margin: 4px;
    border: none;
    transition: .3s;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    transition: .5s;
    align-items: end;
}
.wp-btn-product:hover {
    color: #4AC8C2;
    transition: .5s;
}


.wp-btn-product-hover {
    width: 80px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    transition: .5s;
    background-color: #384449;
    color: #fff;
}

/* 卡片 */
.wp-card {
    border-radius: 4px;
    padding: 16px;
}

.totalPrice{
    display: flex;
   justify-content: flex-end;
}

.list-group{
    height: 280px;
    overflow: scroll;
}