.wp-img {
    width: 100%;
    padding: 30px 15px;
}

.wp-button-group {
    margin: 20px 0;
    border: 2px solid;
    border-radius: 150px;
    width: 300px;
    background-color: #fff;
}

.wp-button {
    width: 135px;
    border-radius: 100px;
    background-color: #fff;
    padding: 8px ;
    margin:4px;
    border: none;
    transition: .3s;
    font-weight: bold;
}

.wp-button:hover {
    background-color: #FF98C9;
    color: #fff;
}

.wp-button:focus {
    outline: none;
}

.wp-button-choose:visited {
    border-radius: 200px;
    background-color: #FF98C9;
    padding: 2px;
    color: #fff;
}

.wp-bg {
    font-size: 200px;
    font-family: 'Freckle Face', cursive;
    opacity: 20%;
    position: absolute;
    top: 55%;
    left: 20px;
    z-index: -1;
}
.wp-bg-img {
    width: 40%;
    background-color: #fff;
    opacity: 20%;
    transform: rotate(20deg);
    position: absolute;
    top:20%;
    right: 20px;
    z-index: -1;

}